<div class="dialog-content flexcol" style="height: 100%;">
    <div class="menu-container flexrow">
        <label for="className">Class Name:</label>
        <input type="text" id="className" name="className" placeholder="Enter class name here" />
    </div>
    <div class="menu-container flexrow">
        <label for="classDescription">Class Description</label>
        <textarea id="classDescription" name="classDescription" placeholder="Enter class description here" rows="1" style="width: 100%;"></textarea>
    </div>
    <div class="menu-container flexrow">
        <button class="menu-button" data-action="submit">Submit</button>
    </div>
</div>
